<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout/default :: head"></th:insert></head>
<title>HAEBANG</title>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<link rel="stylesheet" href="/css/common.css">
<script type="text/javascript" src="/js/common.js"></script>
<script th:inline="javascript">
    $(document).ready(function(){
        login_or_logout();
    });
console.log([[${list}]])
</script>
<body>
<div th:insert="layout/default :: nav">
</div>
<br>
<h5>&nbsp;방을 개설하면 관리지가 5분이내에 응답할 예정입니다.</h5>
<h5>&nbsp;현재 페이지에서 개설한 방을 들어갈 수 있습니다.</h5>
<br>
    <th:block th:fragment="content">
        <div id="container">
        </div>
        <br>
        <form style="display: flex;" th:action="@{/chat/room}" method="post">
            <input type="text" placeholder="채팅방 이름 설정" name="name" style="width: 150px; " class="form-control">
            <button class="btn btn-secondary">개설하기</button>
        </form>
        <br>
<script th:inline="javascript">


    $(document).ready(function(){
        createLoadingImage();

        getChatRooms();

        var roomName = [[${roomName}]];

        if(roomName != null)
            alert(JSON.stringify(roomName.name) + "방이 개설되었습니다.");

        $(".btn-create").on("click", function (e){
            e.preventDefault();

            var name = $("input[name='name']").val();

            if(name == "")
                alert("Please write the name.")
            else
                $("form").submit();
        });

    });

    function getChatRooms() {
        showLoadingImage();
        $.ajax({
            type: "POST",
            url: "/chat/rooms",
            headers: {'Authorization':'Bearer '+getCookie("ATK").substring(4)},
            dataType: "json"
        })
            .done(function (response){
                console.log(response);
                var containerDiv = document.getElementById("container");
                var html = '';
                const username = getCookie("username").substring(9);
                for (let i = 0; i <response.length; i++) {
                    if(response[i].username === username || username === "admin"){
                        html += '<ul>'+
                        `<a style="text-decoration-line: none;" href="chat/room/${response[i].roomId}">${response[i].name}</a>`+
                    '</ul>';
                    }
                }
                containerDiv.innerHTML = html;
                hideLoadImage();
            })
            .fail(function (jqXHR, textStatus, errorThrown) {
                if(jqXHR.status >=400 && jqXHR.status<=500) reissue();
                hideLoadImage();
                alert("실패 : "+jqXHR.responseText);
            })
    }
</script>
    </th:block>

</body>

</html>
