<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="layout/default :: head"></th:insert></head>
<title>HAEBANG</title>
<link rel="stylesheet" href="/css/common.css">
<script type="text/javascript" src="/js/common.js"></script>
<div th:insert="layout/default :: nav">
</div>
<div class="container">
    <div style="margin-left: 30%;" class="row justify-content-center align-items-center">
        <div style="margin-right: 15%;" class="col-6">
            <h1 >[[${room.name}]]</h1>
            <div id="user"></div>
        </div>
        <div>
            <div id="msgArea" class="col"></div>
            <div class="col-6">
                <div class="input-group mb-3">
                    <input type="text" id="msg" class="form-control">
                    <button class="btn btn-secondary" type="button" id="button-send">전송</button>
                </div>
            </div>
        </div>
        <div class="col-6"></div>
        <form th:action="@{/chat/exit(roomId=${room.roomId})}" method="post">
            <button class="btn btn-secondary" type="submit" id="button-exit">종료</button>
        </form>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>


</html>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>

<script th:inline="javascript">
    $(document).ready(function(){
        login_or_logout();

        var ATK = getCookie("ATK").substring(4);
        var roomName = [[${room.name}]];
        var roomId = [[${room.roomId}]];
        var username = getCookie("username").substring(9);

        console.log(roomName + ", " + roomId + ", " + username);

        var sockJs = new SockJS("/stomp/chat");
        //1. SockJS를 내부에 들고있는 stomp를 내어줌
        var stomp = Stomp.over(sockJs);

        //2. connection이 맺어지면 실행
        stomp.connect({}, function (){
            console.log("STOMP Connection")

            //4. subscribe(path, callback)으로 메세지를 받을 수 있음
            stomp.subscribe("/sub/chat/room/" + roomId, function (chat) {
                var content = JSON.parse(chat.body);
                var message=content.message;
                var writer = content.writer;
                var str = '';

                if(writer === username){
                    str = "<div class='col-6'>";
                    str += "<div class='alert alert-secondary'>";
                    str += "<b>" + writer + " : " + message + "</b>";
                    str += "</div></div>";
                    $("#msgArea").append(str);
                }
                else{ //관리자
                    str = "<div class='col-6'>";
                    str += "<div class='alert alert-warning'>";
                    str += "<b>" + writer + " : " + message + "</b>";
                    str += "</div></div>";
                    $("#msgArea").append(str);
                }

            });
            console.log(stomp);

            //3. send(path, header, message)로 메세지를 보낼 수 있음
            stomp.send('/pub/chat/enter', {},JSON.stringify({roomId: roomId, message: msg.value, writer: username}));
        });

        $("#button-send").on("click", function(e){
            var msg = document.getElementById("msg");

            console.log(username + ":" + msg.value);
            stomp.send('/pub/chat/message',{}, JSON.stringify({roomId: roomId, message: msg.value, writer: username}));
            msg.value = '';
        });
        $("#button-exit").on("click", function(e){
            var msg = "채팅이 종료되었습니다.";

            console.log(username + ":" + msg);
            stomp.send('/pub/chat/exit',  {},JSON.stringify({roomId: roomId, message: msg, writer: username}));
        });
    });

</script>