<!doctype html>
<html lang="en">
<head th:insert="layout/default :: head"></th:insert></head>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HAEBANG</title>
    <link rel="icon" href="https://github.com/HaeBangProject/HAEBANG/assets/59076085/e7e057ea-f288-4271-8305-f9d9141f043e">
    <link rel="stylesheet" href="/css/common.css">
</head>
<body>
<div th:insert="layout/default :: nav">
</div>
<table id="apt">
<tr>
    <td th:text="${apt.dp}"></td>
    <td th:text="${apt.roadAddress}"></td>
</tr>
</table>
<div id="items">

</div>
</body>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var itmes;
    $(document).ready(function (){

        login_or_logout();
        findItems( /*[[${apt.roadAddress}]]*/);
    })

    function findItems(roadAddress){
        $.ajax({
            type: "GET",
            url: "/api/apt/items?road_address="+roadAddress,
            headers: {"content-type": "application/json"},
            dataType: "json",
        })
            .done(function (response) {
                console.log(response);
                items = response;
                var html =``;

                if(!response.length) html += '등록된 매물이 없습니다.';
                else{
                    html += '<div class="container">\n' +
                        '  <div class="row">';

                    response.forEach((obj, idx) => {
                        console.log(obj);
                        html += `<div class="col card" style="width: 18rem; margin: 5px;">\n` +
                            `<div class="card-header">${obj.title}` +
                            `  <div class="card-body">\n` +
                            `    <h6 class="card-subtitle mb-2 text-body-secondary">${obj.created_date}</h6>\n` +
                            `    <p>${obj.username}님 작성</p>\n`+
                            `    <h5 class="card-title">매매|전/월세 : ${obj.dp_amount}</h5>\n`+
                            `    <p>계약날짜 : ${obj.contract_date}</p>\n`+
                            `    <p>${obj.phone_number}</p>\n`+
                            `<ul class="list-group list-group-flush">
                                <li class="list-group-item">${obj.dp_area}</li>
                                <li class="list-group-item">${obj.dong}(동)</li>
                                <li class="list-group-item">${obj.floor}층</li>
                                <li class="list-group-item">${obj.build_year}년도 건설</li>
                              </ul>`+
                            `    <p class="card-text">상세설명 : ${obj.text}</p>\n` +
                            '    <div id="mark"><i onclick="bookmark('+obj.id+')" class="bi bi-bookmark-plus"></i></div>'+
                            `  </div>\n` +
                            `</div>`+
                        `</div>`;
                    })
                    html += '  </div>\n' +
                        '</div>';
                }

                $("#items").append(html);
            })
            .fail(function (jqXHR, textStatus, errorThrown) {
                alert("실패 : "+jqXHR.responseText);
            })
    }

    function bookmark(item_id){
        $.ajax({
            type: "POST",
            url: "/api/bookmark/"+item_id,
            headers: {"content-type": "application/json", 'Authorization':'Bearer '+getCookie("ATK").substring(4)},
            dataType: "text",
        })
            .done(function (response) {
                var empty_mark = document.getElementById("mark");
                empty_mark.innerHTML = '<i class="bi bi-bookmark-check-fill"></i>';

                alert(response);
            })
            .fail(function (jqXHR, textStatus, errorThrown) {
                alert("실패 : "+jqXHR.responseText);
            })
    }

    /*]]>*/
</script>

</html>