<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head th:insert="layout/default :: head"></th:insert></head>
<head>
    <meta charset="UTF-8">
    <title>HAEBANG | 매물 작성하기</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/detail.css">
    <link rel="icon" href="https://github.com/HaeBangProject/HAEBANG/assets/59076085/e7e057ea-f288-4271-8305-f9d9141f043e">
    <script type="text/javascript" src="/js/common.js"></script>
</head>
<body>
<div th:insert="layout/default :: nav">
</div>
<div class="form-container">
<form class="form" id="form">
<input type="hidden" id="item_id" th:value="${item_id}" name="id" class="form-control">
<input type="hidden" name="apt_id" class="form-control">
    <fieldset>
        <legend>아파트 정보</legend>
<label>도로명주소
    <a href="#" id="tooltip2"
       data-bs-toggle="tooltip"
       data-bs-placement="right"
       data-bs-title="주소를 검색하면 장소가 지도에 표시됩니다.">
        <i class="bi bi-question-square-fill"></i>
    </a>
    <input id="road_address" name="road_address" type="text" class="form-control" placeholder="도로명주소 선택" aria-label="road_address"></label>
    <input id="search_btn" type="button" class="btn btn-secondary" onclick="sample5_execDaumPostcode()" value="주소 검색"><br>
    <div id="map" style="width:300px;height:300px;margin-top:10px;display:none"></div>
    <label>아파트이름 <a href="#" id="tooltip1"
                                          data-bs-toggle="tooltip"
                                          data-bs-placement="right"
                                          data-bs-title="같은 도로명주소의 매물이 존재하는 경우 기존 아파트명으로 게시됩니다. 변경이 필요한 경우 채팅문의 바랍니다.">
        <i class="bi bi-question-square-fill"></i>
    </a>
<input id="dp" name="dp" type="text" class="form-control" placeholder="아파트명 ex)해방아파트" aria-label="dp"></label>
<label>건축연도<input name="build_year" type="number" value="2000" class="form-control" placeholder="건축연도" aria-label="build_year"></label>
    </fieldset>

<br><hr><br>


    <fieldset>
        <legend>매물 정보</legend>
<label>동<input name="dong" type="text" class="form-control" placeholder="숫자/한글/영어+동" aria-label="dong"></label>
<label>층<input name="floor" type="number" class="form-control" placeholder="숫자입력" aria-label="floor"></label>
        <br>
<label>아파트면적
    <a href="#" id="tooltip5"
       data-bs-toggle="tooltip"
       data-bs-placement="right"
       data-bs-title="m2 기준으로 저장됩니다.">
        <i class="bi bi-question-square-fill"></i>
    </a>
    <div class="input-container">
    <input id="area_m2" oninput="convert('m2')" name="dp_area" type="number" class="form-control" placeholder="m2" aria-label="dp_area">
        <span>m2 = </span><input id="area_pyeong" name="dp_pyeong" oninput="convert('pyeong')" type="number" class="form-control" placeholder="평">평
    </div>
</label>

<label>매매가
    <a href="#" id="tooltip3"
       data-bs-toggle="tooltip"
       data-bs-placement="right"
       data-bs-title="전/월세의 경우 해당되지 않습니다. 억 단위로 작성햐야 합니다.">
        <i class="bi bi-question-square-fill"></i>
    </a>
    <input name="dp_amount" type="number" class="form-control" placeholder="억 단위 (1억5천 -> 1.5)" aria-label="dp_amount"></label>
<label>계약날짜<input name="contract_date" type="date" class="form-control" placeholder="원하는 계약 년/월/일" aria-label="contract_date"></label>
    <label>연락처
        <a href="#" id="tooltip4"
           data-bs-toggle="tooltip"
           data-bs-placement="right"
           data-bs-title=" -를 포함하는 형식을 지켜주세요. ex) 010-0000-0000">
            <i class="bi bi-question-square-fill"></i>
        </a>
        <input name="phone_number" type="text" class="form-control" placeholder="010-1234-5678" aria-label="phone_number"></label>
    </fieldset>

        <br><hr><br>


        <fieldset>
            <legend>상세 정보</legend>
    <label>제목<input name="title" type="text" class="form-control" placeholder="제목" aria-label="title"></label>
    <label>설명<textarea cols="200" rows="10" name="text" type="text" class="form-control" placeholder="매물과 계약에 관한 설명을 적어주세요" aria-label="text"></textarea></label>


    <label for="photos"> 파일
    <input type="file" multiple accept="image/*" name="photos" id="photos">
    </label>
<!--    <input type="button" value="사진업로드" onclick="upload_photos()">-->
    <div id="uploaded-photos"></div>
        </fieldset>

<button class="btn btn-secondary" id="btn-post" type="button" onclick="post()">집 내놓기</button>
</form>
</div>

<img id="load_image" src="/img/loading_image.gif" alt="LOADING" hidden="true">

</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=2e1ab347af966350cd08e84de51d9fdb&libraries=services"></script>
<script type="text/javascript">
    /*<![CDATA[*/
    let item_id;

    $(document).ready(function(){
        login_or_logout();

        item_id = [[${item_id}]]
        console.log(item_id);
        if(item_id > 0){
            get_item(item_id);
            document.getElementById("btn-post").innerText = "저장하기";
            document.getElementById("form").road_address.readOnly = true;
            // 주소는 변경 불가능
            document.getElementById("road_address").readOnly = true;
            document.getElementById("dp").readOnly = true;
            document.getElementById("search_btn").disabled = true;
        }else{
            document.getElementById("btn-post").innerText = "집 내놓기";
        }

        // bootstrap tooltip 적용하기
        const tooltipElement1 = document.getElementById('tooltip1');
        const tooltipElement2 = document.getElementById('tooltip2');
        const tooltipElement3 = document.getElementById('tooltip3');
        const tooltipElement4 = document.getElementById('tooltip4');
        const tooltipElement5 = document.getElementById('tooltip5');

        const tooltip1 = new bootstrap.Tooltip(tooltipElement1);
        const tooltip2 = new bootstrap.Tooltip(tooltipElement2);
        const tooltip3 = new bootstrap.Tooltip(tooltipElement3);
        const tooltip4 = new bootstrap.Tooltip(tooltipElement4);
        const tooltip5 = new bootstrap.Tooltip(tooltipElement5);

    });

    function convert(m2_or_pyeong) {
        if(m2_or_pyeong == 'm2'){
            const m2Value = parseFloat(document.getElementById("area_m2").value);
            const pyeongValue = m2Value * 0.3025;
            document.getElementById("area_pyeong").value = pyeongValue.toFixed(2);
        }else{//== pyeong
            const pyeongValue = parseFloat(document.getElementById("area_pyeong").value);
            const m2Value = pyeongValue * 3.305785;
            document.getElementById("area_m2").value = m2Value.toFixed(2);
        }
    }

    function get_item(item_id){
        console.log(item_id+"번 매물 로딩");
        $.ajax({
            type: "GET",
            url: "/api/apt/item/edit/"+item_id,
            headers: {"content-type": "application/json"},
            dataType: "json",
        })
            .done(function (response) {
                JSONtoForm(response);
                //alert("성공");
            })
            .fail(function (jqXHR, textStatus, errorThrown) {
                alert("실패 : "+jqXHR.responseText);
            })
    }
    function post(){
        var formData = new FormData();
        var form = $("#form").serializeArray();
        var data = formToJSONObject(form);
        formData.append("form", new Blob([JSON.stringify(data)], {type : "application/json"}));
        var photos = document.getElementById("photos");
        for (var i = 0; i < photos.files.length; i++) {
            formData.append("photos", photos.files[i]);
        }

        var method;
        var url = "/api/apt/item";
        if(item_id > 0){
            method = 'PUT';
            url += '/'+item_id;
        }else{
            method = 'POST';
        }

        $.ajax({
            type: method,
            url: url,
            headers: {'Authorization':'Bearer '+getCookie("ATK").substring(4)},
            dataType: "json",
            data: formData,
            contentType: false,               // * 중요 *
            processData: false,               // * 중요 *
            enctype : 'multipart/form-data',  // * 중요 *
        })
            .done(function (response) {
                alert("성공");
                window.location.href = '/apt';
            })
            .fail(function (jqXHR, textStatus, errorThrown) {
                alert("실패 : "+jqXHR.responseText);
                hideLoadImage();
            })
            .ajaxStart(
                showLoadImage()
            )
    }
    function formToJSONObject(formData){
        var data = {};
        console.log(form)
        for(idx in formData){
            data[formData[idx].name] = formData[idx].value;
        }
        console.log(data);
        return data;
    }
    function JSONtoForm(data){
        for(key in data){
            let form = document.getElementById("form");
            console.log("form"+" : "+form[key].name+"="+form[key].value);
            form[key].value = data[key];
        }
    }

    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new daum.maps.LatLng(37.537187, 127.005476), // 지도의 중심좌표
            level: 5 // 지도의 확대 레벨
        };

    //지도를 미리 생성
    var map = new daum.maps.Map(mapContainer, mapOption);
    //주소-좌표 변환 객체를 생성
    var geocoder = new daum.maps.services.Geocoder();
    //마커를 미리 생성
    var marker = new daum.maps.Marker({
        position: new daum.maps.LatLng(37.537187, 127.005476),
        map: map
    });

    function sample5_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                var addr = data.address; // 최종 주소 변수

                // 주소 정보를 해당 필드에 넣는다.
                document.getElementById("road_address").value = addr;
                // 주소로 상세 정보를 검색
                geocoder.addressSearch(data.address, function(results, status) {
                    // 정상적으로 검색이 완료됐으면
                    if (status === daum.maps.services.Status.OK) {

                        var result = results[0]; //첫번째 결과의 값을 활용

                        // 해당 주소에 대한 좌표를 받아서
                        var coords = new daum.maps.LatLng(result.y, result.x);
                        // 지도를 보여준다.
                        mapContainer.style.display = "block";
                        map.relayout();
                        // 지도 중심을 변경한다.
                        map.setCenter(coords);
                        // 마커를 결과값으로 받은 위치로 옮긴다.
                        marker.setPosition(coords)
                    }
                });
            }
        }).open();
    }

    /*]]>*/
</script>
</html>