<!DOCTYPE html>
<html lang="en">
<head th:insert="layout/default :: head"></th:insert></head>
<head>
    <meta charset="UTF-8">
    <title>HAEBANG | 매물 작성하기</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="icon" href="https://github.com/HaeBangProject/HAEBANG/assets/59076085/e7e057ea-f288-4271-8305-f9d9141f043e">
    <script type="text/javascript" src="/js/common.js"></script>
</head>
<body>
<div th:insert="layout/default :: nav">
</div>
<form class="form" id="form">
    <input id="item_id" th:text="${item_id}" name="id" type="hidden" class="form-control">
    <input name="apt_id" type="hidden" class="form-control">
<input name="title" type="text" class="form-control" placeholder="title" aria-label="title">

<input name="road_address" type="text" class="form-control" placeholder="road_address" aria-label="road_address">
<input name="dp" type="text" class="form-control" placeholder="dp" aria-label="dp">
<input name="floor" type="number" class="form-control" placeholder="floor" aria-label="floor">
<input name="dong" type="text" class="form-control" placeholder="dong" aria-label="dong">

<input name="phone_number" type="text" class="form-control" placeholder="phone_number" aria-label="phone_number">
<input name="dp_area" type="text" class="form-control" placeholder="dp_area" aria-label="dp_area">
<input name="dp_amount" type="text" class="form-control" placeholder="dp_amount" aria-label="dp_amount">
<input name="build_year" type="number" value="2000" class="form-control" placeholder="build_year" aria-label="build_year">

<input name="contract_date" type="date" class="form-control" placeholder="contract_date" aria-label="contract_date">

<input name="text" type="text" class="form-control" placeholder="text" aria-label="text">
</form>
<button class="btn btn-secondary" id="btn-post" type="button" onclick="post()">집 내놓기</button>
</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript">
    /*<![CDATA[*/
    let item_id;
    $(document).ready(function(){
        item_id = [[${item_id}]]
        console.log(item_id);
        if(item_id > 0){
            get_item(item_id);
            document.getElementById("btn-post").innerText = "저장하기";
            document.getElementById("form").road_address.readOnly = true;
            // 주소는 변경 불가능
        }else{
            document.getElementById("btn-post").innerText = "집 내놓기";
        }
    });

    function upload_file(file, dataObj){

    }

    function get_item(item_id){
        console.log(item_id+"번 매물 로딩");
        $.ajax({
            type: "GET",
            url: "/api/apt/item/edit/"+item_id,
            headers: {"content-type": "application/json"},
            dataType: "json",
        })
            .done(function (response) {
                JSONtoForm(response);
                //alert("성공");
            })
            .fail(function (jqXHR, textStatus, errorThrown) {
                alert("실패 : "+jqXHR.responseText);
            })
    }
    function post(){
        var formData = $("#form").serializeArray();
        var data = formToJSONObject(formData);
        var method;
        var url = "/api/apt/item";
        if(item_id > 0){
            method = 'PUT';
            url += '/'+item_id;
        }else{
            method = 'POST';
        }

        $.ajax({
            type: method,
            url: url,
            headers: {"content-type": "application/json", 'Authorization':'Bearer '+getCookie("ATK").substring(4)},
            dataType: "json",
            data: JSON.stringify(data)
        })
            .done(function (response) {
                alert("성공");

                window.location.href = '/apt';
            })
            .fail(function (jqXHR, textStatus, errorThrown) {
                alert("실패 : "+jqXHR.responseText);
            })
    }
    function formToJSONObject(formData){
        var data = {};
        console.log(form)
        for(idx in formData){
            data[formData[idx].name] = formData[idx].value;
        }
        console.log(data);
        return data;
    }
    function JSONtoForm(data){
        for(key in data){
            let form = document.getElementById("form");
            console.log("form"+" : "+form[key].name+"="+form[key].value);
            form[key].value = data[key];
        }
    }
    /*]]>*/
</script>
</html>