@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Orbit&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
:root {
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Orbit', sans-serif;
}
html,
body {
    width: 100%;
    height: 100%;
}
:root{ /*부트스트랩안에서 폰트변경*/
    --bs-body-font-family:"Nanum Gothic";
    --bs-body-font-family:"Orbit";
}
