<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>주소로 장소 표시하기</title>

    <form action="/map" method="post">
        <button type="submit">검색</button>
        <div>
            <select class="form-control input-sm" id="year" name="year">
            </select>
            <select class="form-control input-sm" id="month" name="month">
            </select>
        </div>

        <table>

            <tr>
                <td valgn="top">
                    <select name="sggCd" size="1" class="input_text"  id="Type2">
                        <option value="*">시/군/구</option>

                        <option value="11680">강남구</option>

                        <option value="11740">강동구</option>

                        <option value="11305">강북구</option>

                        <option value="11500">강서구</option>

                        <option value="11620">관악구</option>

                        <option value="11215">광진구</option>

                        <option value="11530">구로구</option>

                        <option value="11545">금천구</option>

                        <option value="11350">노원구</option>

                        <option value="11320" selected="">도봉구</option>

                        <option value="11230">동대문구</option>

                        <option value="11590">동작구</option>

                        <option value="11440">마포구</option>

                        <option value="11410">서대문구</option>

                        <option value="11650">서초구</option>

                        <option value="11200">성동구</option>

                        <option value="11290">성북구</option>

                        <option value="11710">송파구</option>

                        <option value="11470">양천구</option>

                        <option value="11560">영등포구</option>

                        <option value="11170">용산구</option>

                        <option value="11380">은평구</option>

                        <option value="11110">종로구</option>

                        <option value="11140">중구</option>

                        <option value="11260">중랑구</option>

                    </select>
                </td>
            </tr>
        </table>
    </form>


</head>
<body>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    $(document).ready(function(){

        setDateBox1();
    });

    function setDateBox1(){
        var dt = new Date();
        var year = dt.getFullYear();
        var month = dt.getMonth()+1;

        for(var y = (year); y >=(year-5); y--){
            if(year == y) {
                $("#year").append("<option selected value='"+ y +"'>"+ y + "년" +"</option>");
            }else{
                $("#year").append("<option value='"+ y +"'>"+ y + "년" +"</option>");
            }
        }
        for(var i = 1; i <= 12; i++){
            if(month == i) {
                $("#month").append("<option selected value='"+ i +"'>"+ i + "월" +"</option>");
            }else{
                $("#month").append("<option value='"+ i +"'>"+ i + "월" +"</option>");
            }
        }
    }
</script>

<div id="map" style="width:100%;height:700px;"></div>

<script th:inline="javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=2e1ab347af966350cd08e84de51d9fdb&libraries=services"></script>
<script th:inline="javascript">
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
            level: 5 // 지도의 확대 레벨 , 250m
        };

    // 지도를 생성합니다
    var map = new kakao.maps.Map(mapContainer, mapOption);

    // 주소-좌표 변환 객체를 생성합니다
    var geocoder = new kakao.maps.services.Geocoder();

    // 주소로 좌표를 검색합니다
    geocoder.addressSearch([[${address1}]], function(result, status) {

        // 정상적으로 검색이 완료됐으면
        if (status === kakao.maps.services.Status.OK) {

            var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

            // 결과값으로 받은 위치를 마커로 표시합니다
            var marker = new kakao.maps.Marker({
                map: map,
                position: coords
            });
            // 마커를 클릭했을 때 마커 위에 표시할 인포윈도우를 생성합니다
            var iwContent = '<div style="padding:5px;">' +
                    '주소:[[${address1}]],계약날짜:[[${contract1}]],아파트:[[${apart1}]],건축년도:[[${build1}]],전용면적:[[${area1}]],거래금액:[[${amount1}]]' +
                    '</div>', // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
                iwRemoveable = true; // removeable 속성을 ture 로 설정하면 인포윈도우를 닫을 수 있는 x버튼이 표시됩니다
            // 인포윈도우를 생성합니다
            var infowindow = new kakao.maps.InfoWindow({
                content : iwContent,
                removable : iwRemoveable
            });

            // 마커에 클릭이벤트를 등록합니다
            kakao.maps.event.addListener(marker, 'click', function() {
                // 마커 위에 인포윈도우를 표시합니다
                infowindow.open(map, marker);
            });

            // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
            map.setCenter(coords);
        }
    });

    // 주소로 좌표를 검색합니다
    geocoder.addressSearch([[${address2}]], function(result, status) {

        // 정상적으로 검색이 완료됐으면
        if (status === kakao.maps.services.Status.OK) {

            var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

            // 결과값으로 받은 위치를 마커로 표시합니다
            var marker = new kakao.maps.Marker({
                map: map,
                position: coords
            });
            // 마커를 클릭했을 때 마커 위에 표시할 인포윈도우를 생성합니다
            var iwContent = '<div style="padding:5px;">' +
                    '주소:[[${address2}]],계약날짜:[[${contract2}]],아파트:[[${apart2}]],건축년도:[[${build2}]],전용면적:[[${area2}]],거래금액:[[${amount2}]]' +
                    '</div>', // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
                iwRemoveable = true; // removeable 속성을 ture 로 설정하면 인포윈도우를 닫을 수 있는 x버튼이 표시됩니다
            // 인포윈도우를 생성합니다
            var infowindow = new kakao.maps.InfoWindow({
                content : iwContent,
                removable : iwRemoveable
            });

            // 마커에 클릭이벤트를 등록합니다
            kakao.maps.event.addListener(marker, 'click', function() {
                // 마커 위에 인포윈도우를 표시합니다
                infowindow.open(map, marker);
            });

            // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
            map.setCenter(coords);
        }
    });

    // 주소로 좌표를 검색합니다
    geocoder.addressSearch([[${address3}]], function(result, status) {

        // 정상적으로 검색이 완료됐으면
        if (status === kakao.maps.services.Status.OK) {

            var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

            // 결과값으로 받은 위치를 마커로 표시합니다
            var marker = new kakao.maps.Marker({
                map: map,
                position: coords
            });
            // 마커를 클릭했을 때 마커 위에 표시할 인포윈도우를 생성합니다
            var iwContent = '<div style="padding:5px;">' +
                    '주소:[[${address3}]],계약날짜:[[${contract3}]],아파트:[[${apart3}]],건축년도:[[${build3}]],전용면적:[[${area3}]],거래금액:[[${amount3}]]' +
                    '</div>', // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
                iwRemoveable = true; // removeable 속성을 ture 로 설정하면 인포윈도우를 닫을 수 있는 x버튼이 표시됩니다
            // 인포윈도우를 생성합니다
            var infowindow = new kakao.maps.InfoWindow({
                content : iwContent,
                removable : iwRemoveable
            });

            // 마커에 클릭이벤트를 등록합니다
            kakao.maps.event.addListener(marker, 'click', function() {
                // 마커 위에 인포윈도우를 표시합니다
                infowindow.open(map, marker);
            });

            // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
            map.setCenter(coords);
        }
    });

    // 주소로 좌표를 검색합니다
    geocoder.addressSearch([[${address4}]], function(result, status) {

        // 정상적으로 검색이 완료됐으면
        if (status === kakao.maps.services.Status.OK) {

            var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

            // 결과값으로 받은 위치를 마커로 표시합니다
            var marker = new kakao.maps.Marker({
                map: map,
                position: coords
            });
            // 마커를 클릭했을 때 마커 위에 표시할 인포윈도우를 생성합니다
            var iwContent = '<div style="padding:5px;">' +
                    '주소:[[${address4}]],계약날짜:[[${contract4}]],아파트:[[${apart4}]],건축년도:[[${build4}]],전용면적:[[${area4}]],거래금액:[[${amount4}]]' +
                    '</div>', // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
                iwRemoveable = true; // removeable 속성을 ture 로 설정하면 인포윈도우를 닫을 수 있는 x버튼이 표시됩니다
            // 인포윈도우를 생성합니다
            var infowindow = new kakao.maps.InfoWindow({
                content : iwContent,
                removable : iwRemoveable
            });

            // 마커에 클릭이벤트를 등록합니다
            kakao.maps.event.addListener(marker, 'click', function() {
                // 마커 위에 인포윈도우를 표시합니다
                infowindow.open(map, marker);
            });

            // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
            map.setCenter(coords);
        }
    });

    // 주소로 좌표를 검색합니다
    geocoder.addressSearch([[${address5}]], function(result, status) {

        // 정상적으로 검색이 완료됐으면
        if (status === kakao.maps.services.Status.OK) {

            var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

            // 결과값으로 받은 위치를 마커로 표시합니다
            var marker = new kakao.maps.Marker({
                map: map,
                position: coords
            });
            // 마커를 클릭했을 때 마커 위에 표시할 인포윈도우를 생성합니다
            var iwContent = '<div style="padding:5px;">' +
                    '주소:[[${address5}]],계약날짜:[[${contract5}]],아파트:[[${apart5}]],건축년도:[[${build5}]],전용면적:[[${area5}]],거래금액:[[${amount5}]]' +
                    '</div>', // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
                iwRemoveable = true; // removeable 속성을 ture 로 설정하면 인포윈도우를 닫을 수 있는 x버튼이 표시됩니다
            // 인포윈도우를 생성합니다
            var infowindow = new kakao.maps.InfoWindow({
                content : iwContent,
                removable : iwRemoveable
            });

            // 마커에 클릭이벤트를 등록합니다
            kakao.maps.event.addListener(marker, 'click', function() {
                // 마커 위에 인포윈도우를 표시합니다
                infowindow.open(map, marker);
            });

            // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
            map.setCenter(coords);
        }
    });


</script>
</body>
</html>