<!DOCTYPE html>
<html lang="en">
<head th:insert="layout/default :: head"></th:insert></head>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HAEBANG</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<div th:insert="layout/default :: nav">
</div>
<div class="login-page">
    <div class="form">
        <form class="register-form" id="register-form">
            <input id="username" type="text" placeholder="username"/>
            <input id="password" type="password" placeholder="password"/>
            <input id="email" type="text" placeholder="email address"/>
            <button class="btn btn-secondary" type="button" onclick="join()">create</button>
            <p class="message">Already registered? <button class="btn btn-secondary" onclick="showDiff()" type="button">Sign In</button></p>
        </form>
        <form class="login-form" id="login-form">
            <input id="username2" type="text" placeholder="username"/>
            <input id="password2" type="password" placeholder="password"/>
            <button class="btn btn-secondary" type="button" onclick="login()">login</button>
            <p class="message">Not registered? <button class="btn btn-secondary" onclick="showDiff()" type="button">Create an account</button></p>
        </form>
    </div>
</div>
</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        createLoadingImage();
        login_or_logout();
    });
    function showDiff(){

        if($('.login-form')[0].style.display == "block"){
            $('.login-form')[0].style.display = "none";
            $('.register-form')[0].style.display = "block";
        }else{
            $('.login-form')[0].style.display = "block";
            $('.register-form')[0].style.display = "none";
        }
    }
    function login() {
        showLoadingImage();
        var form = document.getElementById("login-form");
        console.log(form);

        var data = {
            username: form.username2.value,
            password: form.password2.value
        }
        console.log(data)

        $.ajax({
            type: "POST",
            url: "/api/member/login",
            headers: {"content-type": "application/json", 'Authorization':'Bearer '+getCookie("ATK").substring(4)},
            dataType: "json",
            data: JSON.stringify(data)
        })
            .done(function (response) {
                localStorage.setItem('RTK', response.refresh_token);
                hideLoadImage();
                alert("성공");
                window.location.href = '/';
            })
            .fail(function (jqXHR, textStatus, errorThrown) {
                hideLoadImage();
                alert("실패 : "+jqXHR.responseText);
            })
    };

    function join() {
        showLoadingImage();
        var form = document.getElementById("register-form");
        console.log(form);

        var data = {
            username : form.username.value,
            email : form.email.value,
            password : form.password.value
        }
        console.log(data)
        $.ajax({
            type: "POST",
            url: "/api/member/join",
            headers: {"content-type": "application/json"},
            dataType: "text",
            data: JSON.stringify(data)})
            .done(function (result) {
                hideLoadImage();
                alert("성공");
                console.log(result)
                window.location.href = '/memberLogin';
            })
            .fail(function (jqXHR, textStatus, errorThrown) {
                hideLoadImage();
                alert("실패 : "+jqXHR.responseText);
            })
    };

</script>
</html>