<!DOCTYPE html>
<html lang="en">
<head th:insert="layout/default :: head"></th:insert></head>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HAEBANG</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<div th:insert="layout/default :: nav">
</div>
<div class="login-page">
    <div class="form">
        <form class="register-form" id="register-form">
            <input class="form-input" id="username" type="text" placeholder="username"/>
            <input class="form-input" id="password" type="password" placeholder="password"/>
            <div class="form-input alert alert-primary d-flex align-items-center" role="alert">
                <div><svg height="15px" xmlns="http://www.w3.org/2000/svg" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </svg>
                비밀번호는 8~16자 영문 대 소문자, 숫자, 특수문자를 사용하세요.</div>
            </div>
            <input class="form-input" id="email" type="text" placeholder="email address"/>
            <div class="form-input alert alert-primary d-flex align-items-center" role="alert">
                <div><svg height="15px" xmlns="http://www.w3.org/2000/svg" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </svg>
                이메일 형식을 지키세요 email@haebang.com</div>
            </div>
            <button class="btn btn-secondary" type="button" onclick="join()">create</button>
            <p class="message">Already registered? <button class="btn btn-secondary" onclick="showDiff()" type="button">Sign In</button></p>
        </form>
        <form class="login-form" id="login-form">
            <input class="form-input" id="username2" type="text" placeholder="username"/>
            <input class="form-input" id="password2" type="password" placeholder="password"/>
            <div class="form-input alert alert-primary d-flex align-items-center" role="alert">
                <div><svg height="15px" xmlns="http://www.w3.org/2000/svg" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </svg>
                비밀번호는 8~16자 영문 대 소문자, 숫자, 특수문자를 사용하세요.</div>
            </div>
            <button class="btn btn-secondary" type="button" onclick="login()">login</button>
            <p class="message">Not registered? <button class="btn btn-secondary" onclick="showDiff()" type="button">Create an account</button></p>
        </form>
    </div>
</div>
</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        createLoadingImage();
        login_or_logout();
    });
    function showDiff(){

        if($('.login-form')[0].style.display == "block"){
            $('.login-form')[0].style.display = "none";
            $('.register-form')[0].style.display = "block";
        }else{
            $('.login-form')[0].style.display = "block";
            $('.register-form')[0].style.display = "none";
        }
    }
    function login() {
        showLoadingImage();
        var form = document.getElementById("login-form");

        var data = {
            username: form.username2.value,
            password: form.password2.value
        }

        $.ajax({
            type: "POST",
            url: "/api/member/login",
            headers: {"content-type": "application/json", 'Authorization':'Bearer '+getCookie("ATK").substring(4)},
            dataType: "json",
            data: JSON.stringify(data)
        })
            .done(function (response) {
                localStorage.setItem('RTK', response.refresh_token);
                hideLoadImage();
                alert("성공");
                window.location.href = '/';
            })
            .fail(function (jqXHR, textStatus, errorThrown) {
                hideLoadImage();
                alert("실패 : "+jqXHR.responseText);
            })
    };

    function join() {
        showLoadingImage();
        var form = document.getElementById("register-form");

        var data = {
            username : form.username.value,
            email : form.email.value,
            password : form.password.value
        }
        $.ajax({
            type: "POST",
            url: "/api/member/join",
            headers: {"content-type": "application/json"},
            dataType: "text",
            data: JSON.stringify(data)})
            .done(function (result) {
                hideLoadImage();
                alert("성공");
                window.location.href = '/memberLogin';
            })
            .fail(function (jqXHR, textStatus, errorThrown) {
                hideLoadImage();
                alert("실패 : "+jqXHR.responseText);
            })
    };

</script>
</html>