<!doctype html>
<html lang="en">
<head th:insert="layout/default :: head"></th:insert></head>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/common.css">
    <title>HAEBANG</title>
<body>
<div th:insert="layout/default :: nav">
</div>
<div id="map" style="width:100%;height:700px;"></div>
<script th:inline="javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=2e1ab347af966350cd08e84de51d9fdb&libraries=services"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script th:inline="javascript">
    $(document).ready(function () {
        createLoadingImage();
        login_or_logout();
    });

    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
            level: 13 // 지도의 확대 레벨
        };

    // 지도를 생성합니다
    var map = new kakao.maps.Map(mapContainer, mapOption);
    // 주소-좌표 변환 객체를 생성합니다
    var geocoder = new kakao.maps.services.Geocoder();
    /*[# th:each="Apt : ${Apt}"]*/


    function dp_detail(road_address){
        location.href="item/detail/"+road_address;
    }

    // 주소로 좌표를 검색합니다
    geocoder.addressSearch(/*[[${Apt.roadAddress}]]*/, function(result, status) {
        var dp_data = /*[[${Apt.roadAddress}]]*/;
        var cnt = /*[[${Apt.cnt}]]*/;
        var detail = document.createElement('button');
        detail.className = 'btn btn-secondary';
        detail.textContent = dp_data;
        detail.onclick = function() {
            dp_detail(dp_data);
        };

        // 정상적으로 검색이 완료됐으면
        if (status === kakao.maps.services.Status.OK) {

            var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

            var marker = new kakao.maps.Marker({
                map: map,
                position: coords
            });

            // 클릭 이벤트 등록
            kakao.maps.event.addListener(marker, 'click', function () {
                cnt += 1;
                if (cnt % 2 === 1) {
                    // 마커 위에 인포윈도우를 표시합니다
                    customOverlay.setMap(map);
                } else {
                    customOverlay.setMap(null);
                }
            });

            // 마커 클릭 이벤트 등록시 customOverlay를 생성하도록 변경
            var customOverlay = new kakao.maps.CustomOverlay({
                position: coords,
                content: detail, // 생성한 버튼 HTML을 content로 사용
                yAnchor: 1.5, // 버튼이 마커 아래로 1.5배 만큼 위치하도록 설정
                map: null // 처음에는 커스텀 오버레이를 지도에 표시하지 않습니다
            });

            // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
            map.setCenter(coords);
        }
    });
    /*[/]*/
</script>

    </body>
</html>